@model GerenciadorLixoEletronico.NH.Model.Pais

@{
    ViewBag.Title = "ConfirmaDelete";
    Layout = "~/Views/Shared/_AdministradorLayout.cshtml";
}

<h2>Deseja realmente apagar o registro?</h2>

<div>
    <h4>Pais</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Excluir", "Excluir", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
